.box{
    height: 150px;
    width: 100px;
    padding-right: 5%;
    margin-right: 1%;
    margin-bottom: 1%;
}
.top{
    display: flex;
}
#boxOne{
    background-color: darkblue;
}
#boxTwo{
    background-color: indianred;
}

.container{
    display: flex;
}
#boxThree{
    background-color: yellow;
    float: left;
}
#boxFour{
    background-color: forestgreen;
    float: left;
}